*.code-workspace
*.pdf
*.md
*.html
*.lock
poetry.toml

# virtualenvs
quavenv/*
.venv/*

# vscode config
.vscode/*

# cache
*__pycache__*
**/__pycache__/*
.pytest_cache/
# coverage
htmlcov
*.coverage
.coverage

# private modules
build
exp
playground
qcdash

# results
*out
out
output
results
old_results*
tables
plots
dataset_stats

# pyenv
.python-version

# log files
*.log
log

# build files
*.env
*.sh

# TODOs
TODO.*

# requirements
requirements*.txt

# links
syncres
dlog
dout
dash
deploy

# miscellaneous
var
*.txt
